<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}NETGOFlix{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('materialize/css/materialize.css') }}">
            <link rel="stylesheet" href="{{ asset('materialize/icon.css') }}" >
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% include 'menu.html.twig' %}
            {% include 'modal.html.twig' %}
            <div class="container">
                <h3 class="header">Film anlegen / bearbeiten</h3>

                <div class="container" id='formContainer' style='margin: 50px;'>
                <!-- Page Content goes here -->
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}


                    <a class="waves-effect waves-light btn norange" id='btnFormSubmit' style='margin-top: 25px;' id='addFilmBtn'>Speichern</a>
                    <a class="waves-effect waves-light btn norange" id='btnSearchFilm' style='margin-top: 25px;' id='addFilmBtn'><i class="material-icons left">search</i>Film suchen</a>
                </div>
            </div>
            

              
              
        {% endblock %}
        {% block javascripts %}
            
            <script src="{{ asset('jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset('materialize/js/materialize.min.js') }}"></script>
            <script src="{{ asset('netgoflix.js') }}"></script>
            
            <script>
                $( document ).ready(function() {
                    $('select').formSelect();
                    
                    $('#btnFormSubmit').click(function() {
                        $('#formContainer').find('form').submit();
                    });
                    
                    $('#btnSearchFilm').click(function() {
                        $.ajax({
                            url: "http://www.omdbapi.com/?i=" + $('#form_Imdbid').val() + "&apikey=7d6ee2c0",
                            type: "GET",
                            dataType: "json",
                        })
                        .done(function( data ) {
                            if(data["Response"] == "False"){
                                M.toast({html: data["Error"], classes: 'red'});
                            } else {
                                $('#form_titel').val(data["Title"]);
                                $('#form_jahr').val(data["Year"]);
                                $('#form_PosterUrl').val("http://img.omdbapi.com/?i=" +$('#form_Imdbid').val() +"&apikey=7d6ee2c0");
                                //$('#form_genre').filter(function () { return $(this).html() == data["Genre"].split(", ")[0]; }).val();
                                
                                $('#form_genre option:contains(' + data["Genre"].split(", ")[0] + ')').each(function(){
                                    if ($(this).text() == data["Genre"].split(", ")[0]) {
                                        $(this).attr('selected', 'selected');
                                        return false;
                                    }
                                    return true;
                                });
                                
                                $('select').formSelect();
                            }
                            
                        });
                    });
                    
                    M.toast({html: 'Eingabe der IMDB ID erleichtert das einf&uuml;gen'})
                });
            </script>
        {% endblock %}
    </body>
</html>
