<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}NETGOFlix{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('materialize/css/materialize.css') }}">
            <link rel="stylesheet" href="{{ asset('materialize/icon.css') }}" >
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% include 'menu.html.twig' %}
            {% include 'modal.html.twig' %}
            <div class="container">
                <h3 class="header">Film anlegen / bearbeiten</h3>

                <div class="container" id='formContainer' style='margin: 50px;'>
                <!-- Page Content goes here -->
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}


                    <a class="waves-effect waves-light btn norange" id='btnFormSubmit' style='margin-top: 25px;' id='addFilmBtn'>Speichern</a>
                </div>
            </div>
            

              
              
        {% endblock %}
        {% block javascripts %}
            
            <script src="{{ asset('jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset('materialize/js/materialize.min.js') }}"></script>
            <script src="{{ asset('netgoflix.js') }}"></script>
            
            <script>
                $( document ).ready(function() {
                    $('select').formSelect();
                    
                    $('#btnFormSubmit').click(function() {
                        $('#formContainer').find('form').submit();
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>
