<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}NETGOFlix{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('materialize/css/materialize.css') }}">
            <link rel="stylesheet" href="{{ asset('netgoflix.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}
              {% include 'menu.html.twig' %}
            	
        <div class="container">
            <div class="row">
                <h3 class="header">Suche</h3>
                <div class="input-field col s6">
                    <input placeholder="Titel..." id="inputFilmSuche" type="text" class="validate">
                    <label for="inputFilmSuche">Suche nach Titel</label>
                </div>
            </div>
            
            {% for genre in filme %}
                <div class="row genrerow">
                <h3 class="header">{{ genre["GENRE_TITEL"] }}</h3>
                
                
                {% for film in genre["FILME"] %}
                    <div class="col s12 m3 filmcard" filmtitel="{{ film["TITEL"] }}">
                        <div class="card hoverable">
                          <div class="card-image">
                                {% if film["POSTERURL"] != "" %}
                                    <img style='height: 160px; object-fit: cover;' src="{{ film["POSTERURL"] }}">
                                {% else %}
                                    <img src="sample-1.jpg">
                                {% endif %}
                            <span class="card-title">{{ film["TITEL"] }}</span>
                          </div>
                          <div class="card-content">
                            <p>Erscheinungsjahr: {{ film["JAHR"] }}</p>
                          </div>
                          <div class="card-action">
                              {% if film["FLG_FAVORIT"] == true %}
                                  <div class="heart click-heart animated-heart" filmid="{{ film["ID"] }}"></div>
                              {% else %}
                                  <div class="heart click-heart" filmid="{{ film["ID"] }}"></div>
                              {% endif %}
                          </div>
                        </div>
                    </div>
                
                {% endfor %}
                
                </div>
                <div class="divider"></div>
            {% endfor %}

            <!-- Page Content goes here -->

        </div>
        {% endblock %}
        {% block javascripts %}
        
            <script src="{{ asset('jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset('materialize/js/materialize.min.js') }}"></script>
            
            <script>
                $( document ).ready(function() {
                    $('.click-heart').on('click', function(){
                        $(this).toggleClass('animated-heart');
                        if($(this).hasClass('animated-heart')){
                            setFavorit($(this).attr("filmid"), true);
                        } else {
                            setFavorit($(this).attr("filmid"), false);
                        }
                    });    
                    
                    $('#inputFilmSuche').on('keyup', function() {
                       strSuche = $(this).val().toUpperCase();
                       $.each($('.filmcard'), function() {
                           if($(this).attr('filmtitel').toUpperCase().includes(strSuche)) {
                               $(this).show();
                           } else {
                               $(this).hide();
                           }
                       });
                       
                       toggleGenres();
                    });
                });
                
                function setFavorit(filmid, flgFavorit) {
                    console.log(filmid);
                    console.log(flgFavorit);
                    $.ajax({
                        url: "{{ path('app_favorit') }}",
                        type: "POST",
                        dataType: "json",
                        data: {"filmid": filmid, "flgfavorit": flgFavorit}
                    })
                    .done(function( data ) {
                      console.log(data);
                    });
                }
                
                function toggleGenres() {
                    $.each($('.genrerow'), function(){
                        flgGenreAusblenden = true;
                        console.log("\n");
                        $.each($(this).find('.filmcard'), function(){

                            if($(this).css('display') != "none"){
                                flgGenreAusblenden = false;
                                return false;
                            }
                        });

                        flgGenreAusblenden ? $(this).hide() : $(this).show();
                    });
                }
                
            </script>
        
        {% endblock %}
    </body>
</html>
